<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/star.css">

  <script src='https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
  <title>Express Api</title>
</head>

<body>
  <div class="main">
    <div id="clock">
      <p class="date"></p>
      <p class="time"></p>
    </div>
    <div class="text"></div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </div>
</body>

</html>
<script src="utils/utils.js"></script>
<script>
  $(function () {
    $.ajax({
      type: "GET", //默认get
      url: "https://v1.hitokoto.cn/", //默认当前页
      success: function (response) { //请求成功回调
        $('.text').text(response.hitokoto)
      }
    })
  })

</script>
